*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.barra-nav{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio{
    box-sizing: border-box;
    background-color: #141429;
    height: 700px;
    width: 1440px;
    display: flex;
}

.inicio2{
    background-color: #8F7C36;
    height: 540px;
    width: 1440px;
    display: flex;
}

.testimonios{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 700px;
    width: 1440px;
    border-top:3px solid #8F7C36;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.titu-inicio{
    color:#8F7C36;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-left: 40%;
    padding-top: 5px;
}

.contenedor{
    display: flex;
    /* align-items: center; */
}

.izq{
    background-color: #fff;
    height: 700px;
    width: 720px;
    
}

.der{
    background-color: #141429;
    height: 700px;
    width: 720px;
    
}

.sucursales{
    background-color: #8F7C36;
    color: white;
    height: 700px;
    width: 1440px;
    border-top:3px solid #fff;
}

.titu-sucursales{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    margin-top: 300px;  
    padding-left: 200px;
}

.tipo-cambio{
    background-color: #141429;
    color: white;
    height: 700px;
    width: 1440px;
    border-top:3px solid #8F7C36;
}

.titu-tipocambio{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    margin-top: 300px;  
    padding-left: 200px;
}

.contacto{
    background-color: #8F7C3669;
    color: white;
    height: 700px;
    width: 1440px;
    display: flex;
    /* border-top:3px solid #8F7C36; */
}

.foot{
    background-color: #fff;
    height: 200px;
    width: 1440px;
    border-top:3px solid #8F7C36;
}

.titu-blindaje{
    color: #8F7C36;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 300px;
}

.p-blindaje{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}

.titu-proceso{
    color: #8F7C36;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 300px;
}

.p-proceso{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}

.titu-test{
    font-weight: bold;
    color: #141429;
    margin-top: 50px;
    margin-left: 50px;
}

.test-caja{
    background-color: #141429;
    height: 400px;
    width: 400px;
    margin: 30px;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 80px;
    display: flex;
}

.caja-test{
    display: flex;
}

.titu-contacto{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    padding-top: 300px;
    padding-left: 200px;
    margin-right: auto;
}

.form-contacto{
    background-color: #fff;
    border-radius: 20px;
    height: 400px;
    width: 800px;
    margin: 9em auto 2em;
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.der-box{
    display: flex;
    flex-wrap: wrap;
}

.p-blindaje1{
    background-color: #fff;
    color: #141429;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: calc(25% - 100px) ;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    padding: 15px;
}

.form-contacto textarea{
    resize: none;
}